tqdm
opencv-python
numpy
pandas
# sklearn
# scipy==1.9.1
# scipy==1.9.1
scikit-learn
scikit-image
matplotlib
requests
tensorboard
click
jupyter
shapely
Flask
multipledispatch
flask-cors
cuda-python
numba
pyopencl
pymongo
torch
torchvision